<!--
Classe CSS  #logado {
	background: orange;
	padding-left: 120px;
	float: right;
}-->

@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 400;
}


.gradiente_bkg {
	min-height: 100%;
	position: absolute;
	height: auto;
    width: 100%;
	background-color: #A7C4D2; /* A cor superior do gradiente como fundo */
	background-image: radial-gradient(circle, #A7C4D2, #889FAC);
	background-image: -webkit-radial-gradient(circle, #A7C4D2, #889FAC); /* For Safari 5.1 to 6.0 */
    background-image: -o-radial-gradient(circle, #A7C4D2, #889FAC); /* For Opera 11.6 to 12.0 */
    background-image: -moz-radial-gradient(circle, #A7C4D2, #889FAC); /* For Fx 3.6 to 15 */
    background-image: radial-gradient(circle, #A7C4D2, #889FAC); /* Standard syntax (must be last) */
}

.gradiente_fundo {
	min-height: 100%;
	/*height: 1024px;*/
	height: auto;
    width: 100%;
	background-color: #A7C4D2; /* A cor superior do gradiente como fundo */
	background-image: radial-gradient(circle, #A7C4D2, #889FAC);
	background-image: -webkit-radial-gradient(circle, #A7C4D2, #889FAC); /* For Safari 5.1 to 6.0 */
    background-image: -o-radial-gradient(circle, #A7C4D2, #889FAC); /* For Opera 11.6 to 12.0 */
    background-image: -moz-radial-gradient(circle, #A7C4D2, #889FAC); /* For Fx 3.6 to 15 */
    background-image: radial-gradient(circle, #A7C4D2, #889FAC); /* Standard syntax (must be last) */
}

.divCenter {
	float: right;
	width: 25%;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
	background-image: url("/Imagens/sacola.png");
}

.topo {
	background-color: #6B7D87;
	padding: 10px;
	height: 60px;
	background-position: 200px 70px;
}

#estrutura {
	width: 900px;
	height: 600px;
	margin: auto;
	font: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	background: #6B7D87;
	background
	-
	image
	:
	url
	(
	'/Imagens/sacola.png'
	);
}

#header {
	width: 900px;
	height: 110px;
	margin: auto;
	background: #CCCCCC;
}

#menu {
	width: 900px;
	height: 55px;
	background: #EEE9E9;
	margin: auto;
	line-height: 20px;
}

#conteudo {
	width: 900px;
	height: 550px;
	background: #28597a;
	margin:;
	background-image: url('sacola.png');
}

p.esquerda {
	text-align: left
}

#right {
	text-align: right
}

#rodape {
	width: 900px;
	height: 40px;
	background: #236B8E;
	color: #E6E8FA;
	font-family: arial, helvetica, serif;
	line-height: 40px;
	margin
}

b {
	color: #E6E8FA;
}

h2 {
	color: yellow;
}

div.figura {
	float: right;
	width: 25%;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

div.formulario {
	float: left;
	width: 96%;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

a {
	text-decoration: none;
}

/*a:hover {
	font-size: 16px;
	font: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 3px;
	font-weight: bold;
	color: red;
}*/

.imagemLogo {
	background-image: url(Imagens/logo.png); /* Insere a imagem */
	background-repeat: no-repeat;
	background-position: top left;
	width: 850px;
	/* Faz a largura ficar igual a da largura da imagem de exemplo */
	height: 100px;
	/* Faz a altura ficar igual a da altura da imagem de exemplo */
	text-align: right;
}

.button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 15px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
	letter-spacing: 0px;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

table {
	border-collapse: collapse;
	border: 2px solid #FF0000;
	background-color: #FFFFFF;
}

td {
	border: 1px solid #003366;
	color: #cccccc;
}

td div {
	color: #FF0000;
	padding: 5px;
	width: 850px;
	height: 400px;
	overflow: auto;
}

.conteudoRegistro {
	padding: 83px;
	text-align: center;
	color: #FFF;
	font-family: 'Verdana';
}

.conteudoRegistro h1 {
	font-size: 120px;
}

h1 span {
	color: #FFCC36;
}

.conteudoRegistro p {
	font-size: 17px;
}

.imagemPropagandaRegistro {
	padding: 25px;
}

.textoRegistroTitulo {
	font-size: 24px;
}

.textoRegistro {
	font-size: 20px;
}

.textoRegistroCitacao {
	font-size: 12px;	
}

.formularioRegistro {
	padding: 15px;
}

.rowRegistro {
	padding: 5px 0px;	
}

.btn-registrar {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 20px;
	width: 150px;
}

.btn-cadastrado {
	margin-right: 15px;
	padding-left:20px;
	padding-right: 20px;
	width: 200px;
}

.linkSenha {
	padding-top: 3px;
	margin-left: 200px;
}

.msgErroLogin {
	padding-top: 0px;
	margin-left: 0px;
	font-size: 17px;
	padding-bottom: 5px;
		
}


.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}